<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/main.css" type="text/css" />
		<title>Silly Burger Game</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/burgerLogic.js"></script>
        <!-- add bootstrap -->
	</head>
	<body>
		{{{ body }}}
	</body>
</html>